# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.env
venv/
.venv/

# Configuración de Replit
.replit

# Logs y bases de datos locales
*.log
*.sqlite3

# Archivos de sistema
.DS_Store
Thumbs.db
